.Social {
	> h4 {
		display: flex;
		align-items: center;
		grid-column-gap: 10px;
	}
	> ul {
		padding: 0;
		display: flex;
		grid-column-gap: 18px;
	}
}

.SocialItem {
	display: flex;
	flex-direction: column;
	grid-row-gap: 18px;
	filter: grayscale(0.8);
	> svg {
		border-radius: 50%;
	}
	&__active {
		display: flex;
		flex-direction: column;
		grid-row-gap: 18px;
		> svg {
			border-radius: 50%;
		}
	}
}
